---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

My research is in algebra and algebraic geometry, and focuses on algebraic groups. I am mainly interested in exceptional group schemes over commutative rings, and related structures such as non-associative algebras and manifolds with $$\mathrm G_2$$-structures.

A list of publications can be found in my CV. Preprints to papers published after 2015 are available on arXiv.

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



